<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div routerLink="/delivery" class="grid-item" fxFill fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>
        airport_shuttle
      </mat-icon>
      <span>Delivery</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div routerLink="/seniors" class="grid-item" fxFill fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>
        people
      </mat-icon>
      <span>Seniors</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div routerLink="/calendar" class="grid-item" fxFill fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>
        calendar_today
      </mat-icon>
      <span>Calendar</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div routerLink="/settings" class="grid-item" fxFill fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>
        settings
      </mat-icon>
      <span>Settings</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
